/* src/components/FloatingIcons/FloatingIcons.module.css */
.floatingContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.iconLink {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}

.iconLink img {
  width: 100%;
  height: 100%;
}

.iconLink:hover {
  transform: scale(1.1);
}