/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif, 'Playfair Display', 'Lato'; /* आप Figma के अनुसार फॉन्ट बदल सकते हैं */
  line-height: 1.6;
}